@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
}

.title{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    justify-content: space-around;
    font-size: small;
}

.container {
    background-color: rgb(10, 10, 10);
    width: 50rem;
    margin: 0 auto;
    padding: 2rem;
  }

.div0{
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: medium;
    background-color: rgb(30, 32, 148);
}

.div01{
    align-items: center;
    list-style: disc;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgb(30, 32, 148);
}

.list{
    margin-top: 0.5rem;
    align-items: center;
    margin-left: 2rem;
}


#h2{
    text-align: center;
}

.div02{
    text-align: center;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    padding: 2 rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: medium;
    background-color: rgb(30, 32, 148);
}

#instagram{
    margin-top: 1rem;
    align-items: center;
    margin-left: 75px;
}

#tt{
    margin-top: 1rem;
    align-items: center;
    margin-right: 75px;
}


.cr{
    text-align: center;
    margin-top: 2rem;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
    .title {
      text-align: center;
    }
  }
